h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
  }

p {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
  }

body {
  background-color: rgb(236, 238, 214);
  padding: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
}

.image {
  width: 34%;
  height: 34%;
}

.nextToImage {
  margin-top: 0px;
  width: 60%;
  float: left;
}

.container {
  overflow: auto;
}

.contactDetails {
  margin-top: 0px;
  display: inline-block;
}